/**********************
**** VERTICAL HEIGHT
***********************/
/* Do not use this except for the main layout */
.button,
.filter-button,
.form-button,
.icon-button-primary,
.button-secondary,
.button-primary,
.button-tribe,
.button-auth,
.button-blackish,
.menu-button,
.trans-button,
.button-red-light,
.button-red,
.button-gray-light,
.button-gray,
.button-green {
  font-family: "Ubuntu-Medium", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  align-items: center;
  background: transparent;
  border: 0;
  border-radius: 4px;
  color: #4C566A;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: normal;
}
.button.loading span,
.loading.filter-button span,
.loading.form-button span,
.loading.icon-button-primary span,
.loading.button-secondary span,
.loading.button-primary span,
.loading.button-tribe span,
.loading.button-auth span,
.loading.button-blackish span,
.loading.menu-button span,
.loading.trans-button span,
.loading.button-red-light span,
.loading.button-red span,
.loading.button-gray-light span,
.loading.button-gray span,
.loading.button-green span {
  animation: loading 0.5s linear;
}
.button .icon,
.filter-button .icon,
.form-button .icon,
.icon-button-primary .icon,
.button-secondary .icon,
.button-primary .icon,
.button-tribe .icon,
.button-auth .icon,
.button-blackish .icon,
.menu-button .icon,
.trans-button .icon,
.button-red-light .icon,
.button-red .icon,
.button-gray-light .icon,
.button-gray .icon,
.button-green .icon {
  fill: currentColor;
  height: 1rem;
  margin-right: 0.25rem;
  width: 1rem;
}
.button.disabled, .button[disabled],
.disabled.filter-button,
.disabled.form-button,
.disabled.icon-button-primary,
.disabled.button-secondary,
.disabled.button-primary,
.disabled.button-tribe,
.disabled.button-auth,
.disabled.button-blackish,
.disabled.menu-button,
.disabled.trans-button,
.disabled.button-red-light,
.disabled.button-red,
.disabled.button-gray-light,
.disabled.button-gray,
.disabled.button-green,
[disabled].filter-button,
[disabled].form-button,
[disabled].icon-button-primary,
[disabled].button-secondary,
[disabled].button-primary,
[disabled].button-tribe,
[disabled].button-auth,
[disabled].button-blackish,
[disabled].menu-button,
[disabled].trans-button,
[disabled].button-red-light,
[disabled].button-red,
[disabled].button-gray-light,
[disabled].button-gray,
[disabled].button-green {
  background-color: #D8DEE9;
  box-shadow: none;
  color: rgba(46, 52, 64, 0.5);
  cursor: not-allowed;
}
.button.disabled:hover, .button[disabled]:hover,
.disabled.filter-button:hover,
.disabled.form-button:hover,
.disabled.icon-button-primary:hover,
.disabled.button-secondary:hover,
.disabled.button-primary:hover,
.disabled.button-tribe:hover,
.disabled.button-auth:hover,
.disabled.button-blackish:hover,
.disabled.menu-button:hover,
.disabled.trans-button:hover,
.disabled.button-red-light:hover,
.disabled.button-red:hover,
.disabled.button-gray-light:hover,
.disabled.button-gray:hover,
.disabled.button-green:hover,
[disabled].filter-button:hover,
[disabled].form-button:hover,
[disabled].icon-button-primary:hover,
[disabled].button-secondary:hover,
[disabled].button-primary:hover,
[disabled].button-tribe:hover,
[disabled].button-auth:hover,
[disabled].button-blackish:hover,
[disabled].menu-button:hover,
[disabled].trans-button:hover,
[disabled].button-red-light:hover,
[disabled].button-red:hover,
[disabled].button-gray-light:hover,
[disabled].button-gray:hover,
[disabled].button-green:hover {
  background-color: #D8DEE9;
  color: currentColor;
}
.button.button-large,
.button-large.filter-button,
.button-large.form-button,
.button-large.icon-button-primary,
.button-large.button-secondary,
.button-large.button-primary,
.button-large.button-tribe,
.button-large.button-auth,
.button-large.button-blackish,
.button-large.menu-button,
.button-large.trans-button,
.button-large.button-red-light,
.button-large.button-red,
.button-large.button-gray-light,
.button-large.button-gray,
.button-large.button-green {
  padding: 0.75rem 4rem;
}
.button.button-block,
.button-block.filter-button,
.button-block.form-button,
.button-block.icon-button-primary,
.button-block.button-secondary,
.button-block.button-primary,
.button-block.button-tribe,
.button-block.button-auth,
.button-block.button-blackish,
.button-block.menu-button,
.button-block.trans-button,
.button-block.button-red-light,
.button-block.button-red,
.button-block.button-gray-light,
.button-block.button-gray,
.button-block.button-green {
  display: flex;
}
.button span,
.filter-button span,
.form-button span,
.icon-button-primary span,
.button-secondary span,
.button-primary span,
.button-tribe span,
.button-auth span,
.button-blackish span,
.menu-button span,
.trans-button span,
.button-red-light span,
.button-red span,
.button-gray-light span,
.button-gray span,
.button-green span {
  color: currentColor;
}
.button svg,
.filter-button svg,
.form-button svg,
.icon-button-primary svg,
.button-secondary svg,
.button-primary svg,
.button-tribe svg,
.button-auth svg,
.button-blackish svg,
.menu-button svg,
.trans-button svg,
.button-red-light svg,
.button-red svg,
.button-gray-light svg,
.button-gray svg,
.button-green svg {
  fill: currentColor;
  stroke: none;
}

.button-green {
  background: #A7CB23;
}
.button-green:hover, .button-green.active, .button-green:visited:hover {
  background: #b5db2d;
}

.button-gray {
  background: #70728F;
}
.button-gray:hover, .button-gray.active, .button-gray:visited:hover {
  background: #7e809a;
}

.button-gray-light {
  background: #C6C6D4;
}
.button-gray-light:hover, .button-gray-light.active, .button-gray-light:visited:hover {
  background: #d5d5df;
}

.button-red {
  background: #FF6363;
}

.button-red-light {
  background: #ffa0a0;
}

.button-red:hover, .button-red.active, .button-red:visited:hover,
.button-red-red-light:hover,
.button-red-red-light.active,
.button-red-red-light:visited:hover {
  background: #ff7d7d;
}

.trans-button {
  background-color: #F9F9FB;
}
.trans-button span,
.trans-button .icon {
  color: #16171D;
  transition: color 0.2s linear;
}
.trans-button .icon {
  margin-right: 0.5rem;
}
.trans-button:visited {
  color: #16171D;
}

.menu-button {
  border-radius: 0;
  color: #16171D;
}
.menu-button:hover {
  background: #E2E3E9;
  color: #5A5B72;
}
.menu-button:visited {
  color: #16171D;
}
.menu-button span {
  color: #16171D;
}

.button-blackish {
  background: #16171D;
  color: #E2E3E9;
}
.button-blackish:hover {
  background: #16171D;
  color: #fff;
}

.button-bulk {
  font-size: 1.1rem;
  margin-left: 0.5rem;
}
.button-bulk .icon {
  height: 1rem;
  margin: 0;
  width: 1rem;
}

.button-auth {
  font-family: "Ubuntu-Regular", Arial, Helvetica, sans-serif;
  background: #434456;
  display: flex;
  width: 100%;
}
.button-auth .icon,
.button-auth img {
  font-size: 1.1rem;
  color: #fff;
  margin-right: 0.5rem;
  vertical-align: middle;
}
.button-auth:hover {
  background: #000;
}

.button-tribe {
  align-items: center;
  background: #107a8a;
  display: flex;
  padding: 0.4rem;
  padding-left: 1.5rem;
}
.button-tribe:hover, .button-tribe.active {
  background: #0b525c;
  color: #fff;
}
.button-tribe .tribe-logo {
  margin-right: 0.5rem;
  width: 1.5rem;
}

.tribe-more-info {
  font-size: 0.875rem;
  color: #25A28C;
  display: inline-block;
  margin-top: 0.5rem;
}

.submit-button {
  width: 100%;
}

.button-group {
  background-color: #F9F9FB;
  border-bottom: 1px solid #008AA8;
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
}
.button-group input {
  display: none;
}
.button-group input:checked + label {
  background-color: #FFFFFF;
  border: 1px solid #008AA8;
  border-bottom: 1px solid #FFFFFF;
  border-radius: 4px 4px 0 0;
  color: #008AA8;
}
.button-group input + label {
  font-family: "Ubuntu-Medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  color: #70728F;
  cursor: pointer;
  display: block;
  padding: 0.5rem 1.5rem;
  position: relative;
  top: 1px;
}
.button-group input + label:hover {
  color: #008AA8;
}

.button-check input {
  display: none;
}
.button-check input:checked + label {
  background-color: #008AA8;
  transition: background 0.3s linear;
}
.button-check label {
  background-color: #C6C6D4;
  border-radius: 5px;
  color: #fff;
  display: block;
  padding: 0.5rem;
}
.button-check label:hover {
  background: #70728F;
  cursor: pointer;
  transition: background 0.3s linear;
}

.button-primary {
  background: #83EEDE;
  padding: 0.25rem;
}
.button-primary:hover {
  background: #008AA8;
  color: #FFFFFF;
}

.button-secondary {
  background: #D8DEE9;
  color: #4C566A;
}

.icon-button-primary {
  background: #83EEDE;
}
.icon-button-primary span {
  color: #2E3440;
}

.form-button {
  background: none;
  border-radius: 0;
  padding: 0.25rem;
}
.form-button .icon {
  width: 1rem;
  height: 1rem;
  fill: #008AA8;
  margin: 0;
}
.form-button:hover {
  background: #D8DEE9;
}

.filter-button {
  background: #F9F9FB;
  color: #008AA8;
  padding: 7px 1rem;
  text-transform: none;
}
.filter-button .text {
  color: currentColor;
}
.filter-button svg {
  fill: #008AA8;
}
.filter-button:hover, .filter-button.active {
  background: #D8DEE9;
  color: #008AA8;
}
.filter-button .selected-filters {
  font-size: 0.7rem;
  align-items: center;
  background-color: #E44057;
  border-radius: 50%;
  color: #FFFFFF;
  display: flex;
  height: 1rem;
  justify-content: center;
  margin-inline-start: 0.25rem;
  width: 1rem;
}