/**********************
**** VERTICAL HEIGHT
***********************/
/* Do not use this except for the main layout */
.project-archived-banner {
  background: #fdf0eb;
  border-bottom: 2px solid #f2ad90;
  padding: 0.5rem 0.5rem;
  position: relative;
  width: 100%;
}
.project-archived-banner .archived-banner-content {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.project-archived-banner .archived-banner-icon {
  flex-shrink: 0;
  margin-right: 1rem;
}
.project-archived-banner .archived-banner-icon svg {
  fill: #EA7B4B;
  height: 24px;
  width: 24px;
}
.project-archived-banner .archived-banner-message {
  font-size: 0.875rem;
  color: #b94716;
}